<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>City Weather</title>
</head>
<body>

<form action="/back" method="get">
  <button type="submit" name="back" value="back">back</button>
</form>

<br>

  <div>
    <ul>
      <li th:each="city : ${cityList}">
        <span>Name: </span><span th:text="${city.name}"></span><br>
        <span>Country: </span><span th:text="${city.country}"></span><br>
        <span>Latitude: </span><span th:text="${city.latitude}"></span><br>
        <span>Longitude: </span><span th:text="${city.longitude}"></span><br>
        <form th:action="@{/save-location}" method="post">
          <div class="input-group mb-3">
            <input type="hidden" name="city" th:value="${city.name}">
            <input type="hidden" name="latitude" th:value="${city.latitude}">
            <input type="hidden" name="longitude" th:value="${city.longitude}">
            <button class="btn btn-outline-secondary" type="submit">save</button>
          </div>
        </form>
      </li>
    </ul>
  </div>

  <hr>

</body>
</html>
