<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>City Weather</title>
</head>
<body>

<form action="/back" method="get">
  <button type="submit" name="back" value="back">back</button>
</form>

<br>

<form th:action="@{/search-city-weather}" th:method="get">
  <div>
    <ul>
      <li th:each="city : ${cityList}">
        <span>Name: </span><span th:text="${city.name}"></span><br>
        <span>Country: </span><span th:text="${city.country}"></span><br>
        <span>Latitude: </span><span th:text="${city.latitude}"></span><br>
        <span>Longitude: </span><span th:text="${city.longitude}"></span><br>
        <br>
      </li>
    </ul>
  </div>
  </form>

  <hr>

</body>
</html>
