<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<br>
<form action="" method="post">
    <input type="submit" name="exit" value="exit">
</form>
<br>

<form th:action="@{/search-city-weather}" th:method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="city" placeholder="Поиск города по названию...">
        <button class="btn btn-outline-secondary" type="submit">search</button>
    </div>
</form>

<br>
<div>
    <ul>
        <li th:each="location : ${locations}">
            <span>Name: </span><span th:text="${location.name}"></span><br>
            <span th:if="${location.main != null}">
                <span>Temperature Actual: </span><span th:text="${location.main.temperatureActual}"></span><br>
                <span>Temperature Feels Like: </span><span th:text="${location.main.temperatureFeelsLike}"></span><br>
                <span>Country: </span><span th:text="${location.sys.country}"></span><br>

                <form th:action="@{/delete}" method="post">
                    <input type="hidden" name="_method" value="PATCH">
                    <div class="input-group mb-3">
                        <input type="hidden" name="latitude" th:value="${location.coordinates.latitude}">
                        <input type="hidden" name="longitude" th:value="${location.coordinates.longitude}">
                        <input type="hidden" name="city" th:value="${location.name}">
                        <button class="btn btn-outline-secondary" type="submit">delete</button>
                    </div>
                </form>
                <br>
            </span>
            <br>
        </li>
    </ul>
</div>
</body>
</html>
