<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
Main
<br>
<form action="" method="post">
    <input type="submit" name="exit" value="exit">
</form>
<br>

<form th:action="@{/unique-search-city-weather}" th:method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="city" placeholder="Поиск уникального города по названию...">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
</form>

<br>
<div>
    <ul>
        <li th:each="location : ${locations}">
            <span>ID: </span><span th:text="${location.id}"></span><br>
            <span>Name: </span><span th:text="${location.name}"></span><br>
            <span th:if="${location.main != null}">
                <span>Temperature Actual: </span><span th:text="${location.main.temperatureActual}"></span><br>
                <span>Temperature Max: </span><span th:text="${location.main.temperatureMax}"></span><br>
                <span>Temperature Min: </span><span th:text="${location.main.temperatureMin}"></span><br>
                <span>Temperature Feels Like: </span><span th:text="${location.main.temperatureFeelsLike}"></span><br>
            </span>
            <br>
        </li>
    </ul>
</div>

</body>
</html>
