<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unique City Weather</title>
</head>
<body>

<form th:action="@{/unique-search-city-weather}" th:method="get">
  <div>
    <span>ID: </span><span th:text="${uniqueCity.id}"></span><br>
    <span>Name: </span><span th:text="${uniqueCity.name}"></span><br>
    <span>Latitude: </span><span th:text="${uniqueCity.coordinates.latitude}"></span><br>
    <span>Longitude: </span><span th:text="${uniqueCity.coordinates.longitude}"></span><br>
    <span>Temperature Actual: </span><span th:text="${uniqueCity.main.temperatureActual}"></span><br>
    <span>Temperature Max: </span><span th:text="${uniqueCity.main.temperatureMax}"></span><br>
    <span>Temperature Min: </span><span th:text="${uniqueCity.main.temperatureMin}"></span><br>
    <span>Temperature Like: </span><span th:text="${uniqueCity.main.temperatureFeelsLike}"></span><br>

      <br>
  </div>
</form>

<form th:action="@{/save}" method="post">
  <div class="input-group mb-3">
    <!-- Hidden fields to send data to the server -->
    <input type="hidden" name="id" th:value="${uniqueCity.id}">
    <input type="hidden" name="city" th:value="${uniqueCity.name}">
    <input type="hidden" name="latitude" th:value="${uniqueCity.coordinates.latitude}">
    <input type="hidden" name="longitude" th:value="${uniqueCity.coordinates.longitude}">
    <button class="btn btn-outline-secondary" type="submit">Save</button>
  </div>
</form>

</body>
</html>