<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite::resource:db/database.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>

        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>

        <!-- Custom properties -->
        <property name="cookie.max_age">1</property>

        <!-- Entities -->
        <mapping class="ru.dragomirov.entities.User"/>
        <mapping class="ru.dragomirov.entities.Session"/>
        <mapping class="ru.dragomirov.entities.Location"/>
    </session-factory>
</hibernate-configuration>
